<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    You don't have any dates yet
  </p>

  <%= link_to "New date",
              new_quote_line_item_date_path(@quote),
              data: { turbo_frame: dom_id(LineItemDate.new) },
              class: "btn btn--primary" %>
</div>